  <div class="Annie-background">
   <div class="container">
      <div class="card">
        <h1>CADASTRAR</h1>

        @if(msgError){
          <div class="msgError-rick">{{ msgError }}</div>
        }
        @if(msgSuccess){
          <div class="msgSuccess-rick">{{ msgSuccess }}</div>
        }

        <form [formGroup]="registerForm" (submit)=" submitRegister()">
          <div class="label-float">
            <input type="text" id="name" placeholder=" " required  formControlName="name"/>
            <label id="labelNome" for="name">Nome</label>
            <div id="msgError" *ngIf="registerForm.get('name')?.errors?.['required'] && registerForm.get('name')?.touched">campo obrigatorio</div>
          </div>

          <div class="label-float">
            <input type="text" id="usuario" placeholder=" " required  formControlName="email"/>
            <label id="labelUsuario" for="usuario">E-mail</label>
            <div id="msgError" *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched">campo obrigatorio</div>
            <div id="msgError" *ngIf="registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched">formato de e-mail é inválido</div>
          </div>

          <div class="label-float">
            <input type="password" id="senha" placeholder=" " required formControlName="password"/>
            <label id="labelSenha" for="senha">Senha</label>
            <div id="msgError" *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched">campo obrigatorio</div>
          </div>


          <div class="justify-center">
            <button type="submit" [disabled]="!registerForm.valid">Cadastrar</button>
          </div>
        </form>

        <div class="justify-center">
          <hr />
        </div>

        <p>
          Já tem uma conta?
          <a routerLink="/login">
            Login
          </a>
        </p>
      </div>
    </div>
</div>
