<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <p class="nav-link" routerLink="/home">Home</p>
      </li>
      <li class="nav-item">
        <p class="nav-link" routerLink="/personagens">Personagens</p>
      </li>
      <li class="nav-item">
        <p class="nav-link" routerLink="/episodios">Episódios</p>
      </li>
      <li class="nav-item">
        <p class="nav-link" routerLink="/episodios">Contatos</p>
      </li>
    </ul>
  </div>
</nav>
