<section class="rick-section">
  <img src="./assets/banner.jpeg" alt="Banner de Rick and Morty" class="rick-image">
  <div class="rick-content">
    <h2 class="rick-heading">Sobre</h2>
    <p class="rick-paragraph">"Rick and Morty" é uma série de animação adulta que combina elementos de comédia, ficção científica e sátira social. Criada por Justin Roiland e Dan Harmon, a série estreou em dezembro de 2013 no canal de televisão Adult Swim, pertencente à Cartoon Network.</p>
    <h2 class="rick-heading">História</h2>
    <p class="rick-paragraph">A trama acompanha as aventuras de Rick Sanchez, um cientista alcoólatra e extremamente inteligente, e seu neto Morty Smith, um adolescente comum e ingênuo. Juntos, eles embarcam em viagens interdimensionais e intergalácticas, explorando diferentes realidades, enfrentando ameaças alienígenas e lidando com questões existenciais. A série mistura humor ácido, situações absurdas e comentários satíricos sobre a sociedade contemporânea.</p>
  </div>
</section>
