
.rick_header, div{
  display: flex;
  background-color: black;
  align-items: center;
}

.rick_header{
  width: 100%;
  justify-content: space-between;
}

img{
  width: 400px;
  height: 100px;
}

p {
  padding: 0 10px;
  color:#76e12f;
}
