
.rick_header, div{
  display: flex;
  background-color: black;
  align-items: center;
}

.rick_header{
  width: 100%;
  justify-content: space-between;
}

img{
  width: 50%;
  max-width: 400px;
  height: auto;
}

p {
  padding: 0;
  margin: 10px;
  color: #76e12f;
  overflow-wrap: break-word;
  text-transform: capitalize;
}
